mixin breadCrumbs(textPage)
	.l-breadcrumbs.mt-30.mb-45
		.container
			.l-breadcrumbs-list.d-flex.align-items-center
				.l-breadcrumbs-list__item
					a(href="index.html")= menuItemText.index[lang]
				.l-breadcrumbs-list__item.l-breadcrumbs-list__line.px-5 /
				.l-breadcrumbs-list__item Наши участники
