-
	var menuItemText = {
		index: {
			en: 'Home',
			ru: 'Главная',
		},
		about: {
			en: 'About us',
			ru: 'О нас',
		},
		company: {
			en: 'Certified companies',
			ru: 'Сертифицированные компании',
		},
		certification: {
			en: 'Certification',
			ru: 'Сертификация',
		},
		blacklist: {
			en: 'Black list',
			ru: 'Черный Список',
		},
		documents: {
			en: 'Documents',
			ru: 'Документы',
		},
		contacts: {
			en: 'Contacts',
			ru: 'Контакты',
		},
		Whatdoing: {
			en: 'What are we doing?',
			ru: 'Что мы делаем?',
		},
		fileclaim: {
			en: 'File a claim',
			ru: 'Подать претензию',
		},
		regulation: {
			en: 'Regulation',
			ru: 'Устав',
		},
		search: {
			en: 'Search',
			ru: 'Поиск',
		},
		addcertification: {
			en: 'Apply for certification',
			ru: 'Подать заявку на сертификацию',
		}
	}

-
	var currentLanguage = {
		en: 'En',
		ru: 'Ru',
	}
