$colors: (
    /* DEFAULT */
    default: #ffffff,
    black: #000,
    bg: #F3F3F3,
    
    /* COLOR */
    red: #C01B33,
    link: #042A4F,
    des: #404040,
    footer: #0F2C47,
    text: #6F6F6F,
    primary: #BEBEBE,
    site: #06396A,
	/* RARE */
    rare: #303133,
    
);



